.contact {
    padding-bottom: 2rem;
}

.contactlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.8rem;
    grid-gap: 1rem;
    padding-bottom: 2rem;
}

.contactlist article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactlist article> :nth-child(even) {
    border-bottom: 2px #d2232e solid;
}

.contactlist article> :first-child {
    background-color: lightgray;
    border-radius: 50%;
    padding: 1rem;
}