:root {
    --primary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Kite One', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}

code {
    font-family: 'Kite One', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h3 {
    font-family: 'Satisfy', cursive;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.headerbg {
    height: 3rem;
    background-color: #d2232e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    position: fixed;
    width: 100%;
    max-width: 600px;
    top: 0;
    z-index: 2;
}

a {
    text-decoration: none;
    color: unset;
}

.header h5::after {
    content: " : MERN stack dev";
    color: var(--primary-color);
}

.header li {
    list-style: none;
}

.header ul a {
    margin-left: 2rem;
}

.header a:hover,
.header a:focus {
    transition: border-bottom 0.2s ease;
    border-bottom: 0.2rem solid var(--primary-color);
}

.header ul {
    display: flex;
    align-items: center;
}

.main {
    margin-top: 3rem;
    height: calc(100vh);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.section-header {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    width: 600px;
    font-size: 3rem;
}

.section-divider {
    flex-grow: auto;
    border: 4px solid #d2232e;
    height: 3px;
    width: 100%;
    margin-left: 2rem;
    opacity: 0;
    animation: slide-in 2s ease-in-out 0.5s 1 normal forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        position: relative;
        left: 100vw
    }
    to {
        opacity: 1;
        position: relative;
        left: 0
    }
}

.btn {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.blockbtn,
.blockbtn2 {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 0.2rem;
    font-size: 1rem;
    color: #d2232e;
    background-color: #fff;
    text-align: center;
}

.blockbtn2 {
    background-color: #d2232e;
    color: aliceblue;
}